.dropTarget {
  height: 200px;
  background-color: #eee;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggingOver {
  border: 4px dashed #ccc;
}

.fileInput {
  display: none;
}
