* {
  box-sizing: border-box;
}
.popupContainer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  padding-bottom: 56px;
}
.menuList {
  flex-grow: 1;
  overflow: auto;
}

.menuItem {
  padding: 8px;
  cursor: pointer;
  transition: 0.1s ease all;
  border-radius: 4px;
  font-size: 14px;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selectedMenu {
    background-color: #dde9eb;
  }
}

.menuTitle {
  font-size: 20px;
  background-color: #fff;
  margin: -16px;
  margin-bottom: 0;
  padding: 4px 16px;
  color: #000;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.subTitle {
  font-size: 12px;
  color: #999;
}

.menuSearchContainer {
  padding: 8px 0;
  flex-shrink: 0;
}

.menuSearch {
  padding: 8px;
  width: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 8px 16px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 14px;
}
