.utils-page {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  overflow: hidden;
  background-color: #eeca6c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.util-main {
  flex-grow: 1;
  padding: 16px;
}

.search-wrapper {
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.search {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: 0;
  background-color: #f6f6f6;
  outline: none;
  border: 1px solid #f6f6f6;

  &:focus {
    border-color: #666;
  }
}

.util-list {
  flex-grow: 1;
  overflow: auto;
  margin-right: -20px;
}

.util-list-item {
  background: #f3e2b4;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;

  transition: 0.2s ease all;
}

.util-list-item + .util-list-item {
  margin-top: 4px;
}

.util-list-item:hover {
  background-color: #7e6b3a;
  color: white;
}

.util-list-item.selected {
  background: black;
  color: white;
  transform: translateX(20px);
  border-radius: 4px 0 0 4px;
  position: relative;
  z-index: 1;
  cursor: default;
}
