.header {
  background-color: #303030 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.container {
  height: calc(100vh - 56px);
  background: white;
  overflow: scroll;
}

.searchBox {
  background: rgb(80, 80, 80);
  border: #505050;
  padding: 8px;
}

.appTitle {
  padding-left: 12px;
  margin-left: 8px;
  border-left: 1px solid #999;
  color: #999;
}

.menu {
  position: absolute;
  z-index: 9;
  background: white;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 8px 0;
  transform: translateY(5px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  animation: 0.4s fade-in;

  a {
    padding: 8px 16px;
    text-decoration: none;
    color: #303030;
    transition: 0.4s ease all;
    letter-spacing: normal;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.searchContainer {
  position: relative;
}

.search {
  width: 300px;
  padding: 4px;
  border: none;
}

.dropdownArrow {
  margin-left: 8px;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.title {
  font-size: 18px;
  color: #999;
  font-weight: 300;
  letter-spacing: 2px;
}

.content {
  height: calc(100vh - 100px);
  overflow: auto;
}

.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 16px;
  text-align: center;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLink {
  color: white;
}

.ratingImage {
  height: 12px;
  margin-left: 10px;
  vertical-align: middle;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
