.app {
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  transition: 0.4s ease opacity;
}

.utils-wrapper {
  width: calc(100vw - 80px);
  margin: auto;
  margin-top: 40px;
  height: calc(100vh - 80px);
  overflow: hidden;
  border-radius: 16px;

  animation: 0.2s ease utils-slide-in;
}

.utils-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px solid #ffc412;
  border-right-width: 0;
  border-radius: 50%;

  position: fixed;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) translateX(50%);
  transition: 0.4s ease all;

  height: 100px;
  width: 100px;
  padding: 0;
  padding-left: 50px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    height: 160px;
    width: 160px;
    background-color: #ffc412;
    color: #333;
  }
}

.utils-btn svg {
  height: 20px;
}

.utils-btn.utils-app-open {
  transform: translateY(-50%) translateX(100%) scale(0);
}

.close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  z-index: 1;
  animation: 0.6s ease utils-close-btn-slide-in;

  svg {
    height: 10px;
  }
}

.close-btn:hover {
  background: #ffc412;
  color: black;
}

@keyframes utils-slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes utils-close-btn-slide-in {
  0%,
  50% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
