.jsonEditor {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.actionBtnContainer {
  width: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-top: 8px;
}

.editorRoot {
  width: calc(100% - 60px);
  height: 100%;
  overflow: hidden;
}

.languageSelectWrapper {
  position: absolute;
  z-index: 1;
  right: 84px;
  bottom: 16px;
  font-size: 12px;
}
