.jsonEditor {
  height: 100%;
  width: 100%;
  position: relative;
}

.actionBtnContainer {
  position: absolute;
  top: 16px;
  right: 36px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.editorRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.languageSelectWrapper {
  position: absolute;
  z-index: 1;
  right: 36px;
  bottom: 16px;
  font-size: 12px;
}
